.card {
  padding: 24px 0;
  color: #586069;
  border-bottom: 1px solid #e1e4e8;
  &__name {
    color: #0366d6;
    text-decoration: none;
    font-size: 20px;
    transition: color .2s ease-out;
    &:hover {
      color: lighten(#0366d6, 10%);
    }
  }
  &__badge {
    width: 12px;
    height: 12px;
		border-radius: 50%;
		margin-right: 3px;
  }
  &__description {
    margin-bottom: 8px;
  }
  &__footer {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 20px;
    font-size: 12px;
  }
  &__footer-item {
    display: inline-flex;
    align-items: center;
		margin-right: 16px;
  }
}