@import './../style/_vars';
@import'./../style/animation';
* {
  box-sizing: border-box;
  &::after,
  &::before {
    box-sizing: border-box;
  }
}

.btn {
  color: $blue;
  text-decoration: none;
  padding: 4px 12px;
  display: inline-block;
  margin-top: 16px;
  box-sizing: border-box;
  text-align: center;
  line-height: 30px;
  border: 1px solid $blue;
  background-color: rgba($blue, .13);
  border-radius: 4px;
  width: auto;
  transition: background-color .2s ease-out;
  &:hover {
    background-color: rgba($blue, .2);
  }
}

.app {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  align-items: center;
  background-color: $blue;
  min-height: 100vh;
  &__title {
    color: #fff;
    margin-top: 0;
    margin-bottom: 41px;
  }
  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: .6;
    z-index: -1;
  }
}

.search {
  display: flex;
  flex-direction: column;
  position: relative;
  &__input {
    outline: none;
    width: 300px;
    padding: 0 44px 0 12px;
    height: 50px;
    color: #0D47A1;
    font-size: 14px;
    text-overflow: ellipsis;
    border: 3px solid #0886bf;
    border-radius: 5px;
    background-color: #fff;
    transition: border-color .2s ease-out, box-shadow .2s ease-out;
    box-shadow: 1px 4px 20px 0px rgba(0, 0, 0, 0.22);
    &:focus {
      box-shadow: 1px 4px 18px 0px rgba(0, 0, 0, 0.62);
    }
    &_error {
      border-color: red;
      color: red;
    }
  }
  &__input-wrapper {
    position: relative;
    margin-bottom: 30px;
  }
  &__clear {
    display: inline-block;
    position: absolute;
    right: 13px;
    top: 50%;
    transform: translateY(-50%) scale(0);
    width: 25px;
    height: 25px;
    cursor: pointer;
    line-height: 25px;
    color: $blue;
    opacity: 0;
    border-radius: 50%;
    background-color: $grey;
    box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.15);
    transition: color .2s ease-out, transform .2s ease-out, opacity .2s ease-out;
    &:hover {
      color: red;
    }
    &_active {
      opacity: 1;
      transform: translateY(-50%) scale(1);
    }
  }
  &__button {
    line-height: 50px;
    font-size: 18px;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    background-color: darken($blue, 5%);
    color: #fff;
    border-radius: 7px;
    border: 1px solid #5bccff;
    transition: background-color .2s ease-out;
    &:hover {
      background-color: darken($blue, 7%);
    }
  }
  &__tooltip {
    position: absolute;
    top: -40px;
    right: -31px;
    border-radius: 30px;
    font-size: 12px;
    color: #fff;
    line-height: 30px;
    border: 1px solid red;
    padding: 0 14px;
    background: darken($blue, 15%);
    &::after {
      content: '';
      position: absolute;
      width: 10px;
      height: 10px;
      left: 50%;
      border-right: 1px solid red;
      border-bottom: 1px solid red;
      bottom: -6px;
      z-index: 3;
      background: darken($blue, 15%);
      transform: translateX(-50%) rotate(45deg);
    }
  }
}

.panel {
  border: 3px solid #0886bf;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 1px 4px 20px 0px rgba(0, 0, 0, 0.22);
  color: #0D47A1;
  &_search {
    display: flex;
    min-height: 130px;
    align-items: center;
    position: absolute;
    font-size: 14px;
    width: 364px;
    bottom: -175px;
    padding: 10px;
    left: 50%;
    transform: translateX(-50%);
  }
}

.title {
  font-weight: bold;
  padding-bottom: 10px;
}

.flex {
  display: flex;
  &_justify {
    justify-content: flex-start;
    &_flex_end {
      justify-content: flex-end;
    }
    &_center {
      justify-content: center;
    }
    &_between {
      justify-content: space-between;
    }
    &_around {
      justify-content: space-around;
    }
  }
  &_align {
    &_center {
      align-items: center;
    }
    &_stretch {
      align-items: stretch;
    }
    &_flex_end {
      align-items: flex-end;
    }
  }
  &_direction {
    &_column {
      flex-direction: column;
    }
  }
  &_inline {
    display: inline-flex;
  }
}

.text {
  line-height: 24px;
  &_link {
    text-decoration: none;
    color: inherit;
    transition: color .2s ease-out;
    &:hover {
      color: lighten($blue, 10%);
    }
    .icon {
      margin-right: 5px;
    }
  }
}

.thumbnail {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 2px solid $blue;
  &_search {
    margin-right: 30px;
  }
  &__pic {
    display: block;
    max-width: 100%;
    height: auto;
    border-radius: 50%;
  }
  &_rect {
    border-radius: 0;
    border: none;
    .thumbnail__pic {
      border-radius: 0;
      border: none;
    }
  }
}

.result {
  &__button {
    @extend .btn;
    margin-top: 16px;
    width: 100%;
    text-align: center;
  }
  &__info {
    flex: 1;
    text-align: center;
  }
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999;
  background-color: #fff;
}

.container {
  width: 100%;
  padding: 0 10px;
  @media screen and (min-width: 900px) {
    width: 900px;
    margin: 0 auto;
  }
}