$grey: #efe8e8;
$blue: #03A9F4;
html {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

button {
  border: none;
  box-shadow: none;
  outline: none;
  background-image: none;
  background-color: initial;
  cursor: pointer;
}